*      text=auto eol=crlf encoding=utf-8
*.cs   text      eol=crlf encoding=utf-8
*.csx  text      eol=crlf encoding=utf-8
*.md   text      eol=crlf encoding=utf-8
*.html text      eol=crlf encoding=utf-8
*.css  text      eol=crlf encoding=utf-8
*.js   text      eol=crlf encoding=utf-8
*.json text      eol=crlf encoding=utf-8
*.xml  text      eol=crlf encoding=utf-8
*.yml  text      eol=crlf encoding=utf-8
*.sh   text      eol=lf   encoding=utf-8
*.bat  text      eol=crlf encoding=sjis
*.cmd  text      eol=crlf encoding=sjis

# プロジェクトファイル
*.sln       merge=binary
*.csproj    merge=binary
*.vbproj    merge=binary
*.vcxproj   merge=binary
*.vcproj    merge=binary
*.dbproj    merge=binary
*.fsproj    merge=binary
*.lsproj    merge=binary
*.wixproj   merge=binary
*.modelproj merge=binary
*.sqlproj   merge=binary
*.wwaproj   merge=binary

# バイナリファイル
*.zip binary
*.ttf binary

# 画像ファイル
*.bmp binary
*.png binary
*.jpg binary
*.gif binary

# 文書ファイル
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain
