[submodule "wiki/Nitdefgai"]
	path = wiki/Nitdefgai
	url = https://github.com/Takym/Nitdefgai.wiki.git
[submodule "wiki/general"]
	path = wiki/general
	url = https://github.com/Takym/takym.github.io.wiki.git
[submodule "wiki/shutage"]
	path = wiki/shutage
	url = https://github.com/Takym/shutage.wiki.git
[submodule "wiki/primers"]
	path = wiki/primers
	url = https://github.com/Takym/primers.wiki.git
