<section>
	<h3>カテゴリ一覧</h3>
	<ul>
		<li><a href="{{ site.baseurl }}/blog/all/README.html"><code>all</code>: 全ての記事</a></li>
		<li><a href="{{ site.baseurl }}/blog/debug/README.html"><code>debug</code>: デバッグ用の記事</a></li>
		<li><a href="{{ site.baseurl }}/blog/general/README.html"><code>general</code>: 一般的な記事</a></li>
		<li><a href="{{ site.baseurl }}/blog/primers/README.html"><code>primers</code>: プログラミング入門講座＆学習コミュニティ</a></li>
		<li><a href="{{ site.baseurl }}/blog/shutage/README.html"><code>shutage</code>: シュタゲ関連の情報</a></li>
	</ul>
	<hr />
</section>
