{% if page.pages_viewmode=="table" %}
{% if this_page_is_taglist=="this_page_is_taglist" %}
<ul><li>記事数：{{ pages.size }}</li></ul>
{% endif %}
<table border="0">
	<thead><tr><th>題名</th><th>更新日時</th><th>投稿者</th><th>カテゴリ</th><th>タグ</th></tr></thead>
	<tbody>
		{% for post in pages %}
		{% if this_page_is_taglist=="this_page_is_taglist" or page.category==post.category %}
		<tr>
			<td><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></td>
			<td>{{ post.date | date: "%Y/%m/%d" | default: "取得できません。" }}</td>
			<td>
				{% for author in post.authors %}
				<b>@<a href="https://github.com/{{ author }}">{{ author }}</a></b>
				{% endfor %}
			</td>
			<td>
				<b><a href="{{ site.baseurl }}/blog/{{ post.category }}/posts.html">{{ post.category }}</a></b>
			</td>
			<td>
				{% for tag in post.tags %}
				<b class="tag">#<a href="#{{ tag }}">{{ tag }}</a></b>
				{% endfor %}
			</td>
		</tr>
		{% endif %}
		{% endfor %}
	</tbody>
</table>
{% else %}
<ul>
	{% for post in pages %}
	{% if this_page_is_taglist=="this_page_is_taglist" or page.category==post.category %}
	<li>
		<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
	</li>
	{% endif %}
	{% endfor %}
</ul>
{% endif %}
