<section>
	<h3>リンク集</h3>
	<ul>
		<li><a href="{{ site.baseurl }}/index.html">トップページ</a></li>
		<li><a href="{{ site.baseurl }}/LICENSE.html">利用規約</a></li>
		<li><a href="{{ site.baseurl }}/THIRD_PARTY_NOTICE.html">第三者製利用ソフトウェア</a></li>
		<li><a href="{{ site.baseurl }}/debug.html">デバッグページ</a></li>
		<li>
			<span>このサイトを支援する</span>
			<ul>
				<li><a href="https://github.com/sponsors/Takym">GitHub Sponsors</a></li>
				<li><a href="https://github.com/YigtyORG/Yigty.ORG/blob/tentatives/2020/DONATION.md">暗号資産</a></li>
			</ul>
		</li>
		<li>
			<span>仕事を依頼する</span>
			<ul>
				<li><a href="https://www.lancers.jp/affiliate/track?id=2119206&link=/menu/detail/1304952">簡単な要望からパソコン向けプログラムをオープンソースで書きます</a></li>
			</ul>
		</li>
	</ul>
	<hr />
</section>
<section>
	<h3>連絡先・SNS</h3>
	<ul>
		<li>
			<span>GitHub: </span>
			<a href="https://github.com/Takym">@Takym</a>
		</li>
		<li>
			<span>Twitter: </span>
			<a href="https://twitter.com/takym0818">@takym0818</a>
		</li>
		<li>
			<span>Lancers: </span>
			<a href="https://www.lancers.jp/affiliate/track?id=2119206&link=/profile/takym">takym</a>
		</li>
		<li>
			<span>Discord: </span>
			<a href="https://discord.gg/cTQWqTZBAS">Takym Server</a>
		</li>
		<li>
			<span>Wikipedia: </span>
			<a href="https://ja.wikipedia.org/wiki/利用者:Takym">利用者:Takym</a>
		</li>
		<li>
			<span>osdev-jp: </span>
			<ul>
				<li><a href="https://osdev.jp/wiki/Takym">https://osdev.jp/wiki/Takym</a></li>
				<li><a href="https://github.com/osdev-jp/osdev-jp.github.io/wiki/Takym">https://github.com/osdev-jp/osdev-jp.github.io/wiki/Takym</a></li>
			</ul>
		</li>
		<li>
			<span>Qiita: </span>
			<a href="https://qiita.com/Takym0818">@Takym0818</a>
		</li>
	</ul>
	<hr />
</section>
<section>
	<h3>主なリポジトリ</h3>
	<ul>
		<li><a href="https://github.com/Takym/Gradexor">排他的論理和色彩変化画像</a></li>
		<li><a href="https://github.com/Takym/FastChatProtocolInterface">高速会話プロトコル・インターフェース</a></li>
	</ul>
	<hr />
</section>
<section>
	<h3>ジカッキィー</h3>
	<ul>
		<li><a href="https://line.me/S/shop/sticker/author/197955/new?lang=ja&utm_source=gnsh_staut">LINEスタンプ</a></li>
		<li><a href="https://lin.ee/5sJ1DQ9">公式アカウント</a></li>
		<li><a href="{{ site.baseurl }}/blog/jikkaky/README.html">公式ブログ</a></li>
		<li>シリーズ・キャラクター共に正式名称は「ジカッキィー」。「ジカッキィー・シリーズ」と「ジカッキィーくん」は曖昧さ回避の為の便宜的な呼称。</li>
		<li>英語名称は「Jikkaky」。何故か促音の位置が日本語と異なる。</li>
	</ul>
	<hr />
</section>
<section>
	<h3>広告</h3>
	<ul>
		<li><a href="https://www.lancers.jp/affiliate/track?id=2119206" target="_blank" rel="nofollow">クラウドソーシング「ランサーズ」会員募集 (無料)</a></li>
		<li>
			<a href="https://rewards.bing.com/welcome?rh=59C70A52&ref=rafsrchae&form=ML2XE3&OCID=ML2XE3&PUBL=RewardsDO&CREA=ML2XE3" target="_blank" rel="nofollow">Microsoft Rewards</a>
			<br />
			<span>（Bing 検索でポイント獲得）</span>
		</li>
		<li><a href="https://r10.to/hkMrKc" target="_blank" rel="nofollow">楽天ウェブ検索</a></li>
		<li><a href="https://r10.to/hkNpUk" target="_blank" rel="nofollow">楽天家計簿</a></li>
		<li>これらのリンクが機能しない場合は、当サイトの広告を許可する様に設定してみてください。</li>
	</ul>
	<hr />
</section>
<section>
	<h3>古いブログ</h3>
	<ol>
		<li><a href="https://takym-program.hateblo.jp/">たかやまのプログラミング</a></li>
		<li><a href="https://takymsystems.blog.fc2.com/">TakymSystems BLOG</a></li>
		<li><a href="https://takym.code.blog/">takym.code.blog</a></li>
		<li>
			<a href="https://takym.github.io/Takym/README.html">https://Takym.GITHUB.IO/</a>
			<br />
			<span>（古いバージョン）</span>
		</li>
	</ol>
	<hr />
</section>
<section>
	<div class="center">.*.-.*.-.*.-.*.-.*.</div>
</section>
