
* {
	font-family: "IPAゴシック", monospace, sans-serif;
}

html, body, header, footer, nav {
	margin: 0;
}

header, footer {
	left     : 0;
	max-width: 100vw;
}

body {
	padding: 0;
}

header {
	padding: 0.5rem 1.5rem;
}

footer {
	padding: 0.5rem;
}

main {
	margin: 1rem 2rem;
}

@media (min-width: 768px) {
	header {
		min-height: 8vh;
	}

	footer {
		clear     : both;
		text-align: center;
	}

	nav#left, nav#right {
		width     : 16vw;
		overflow-x: auto;
	}

	nav#left {
		float: left;
	}

	nav#right {
		float: right;
	}

	nav#left_toggle, nav#right_toggle {
		display   : none;
		visibility: hidden;
	}

	nav#left > section {
		padding-left: 0.8rem;
	}

	main {
		padding: 1rem 16vw;
	}
}

@media (max-width: 768px) {
	nav#left_toggle, nav#right_toggle {
		padding    : 0;
		user-select: none;
		font-weight: bold;
		font-size  : 200%;
	}

	nav#left.hidden, nav#right.hidden {
		display   : none;
		visibility: hidden;
	}

	main {
		padding: 1rem 0;
	}
}

header > h1 > a,
header > h1 > a:link,
header > h1 > a:visited,
header > h1 > a:hover,
header > h1 > a:active {
	color          : #000066;
	text-decoration: none;
}

header > h1 > a > span {
	font-size: 3.35rem;
}

header > h1 > a > img[alt="Takym"][title="Takym"] {
	width         : 144px;
	height        :  72px;
	vertical-align: bottom;
}

nav > section > h3 {
	border-bottom: 2px dashed #808080;
}

nav > section > hr {
	border: 2px solid #000000;
}

main h1, main h2, main h3 {
	display            : block;
	margin-top         : 2px;
	margin-bottom      : 4px;
	background-color   : #EEEEEE;
	border-left-style  : solid;
	border-bottom-style: dashed;
	border-bottom-width: 3px;
}

main h1 {
	font-size          : 250%;
	border-left-width  : 10px;
	border-left-color  : #FF8000;
	border-bottom-color: #0080FF;
}

main h2 {
	font-size          : 175%;
	border-left-width  : 6px;
	border-left-color  : #40CC40;
	border-bottom-color: #800080;
}

main h3 {
	font-size          : 150%;
	border-left-width  : 4px;
	border-left-color  : #CCCC45;
	border-bottom-color: #20A080;
}

a, a:link {
	color          : #00AA00;
	text-decoration: underline;
}

a:visited {
	color: #008000;
}

a:hover, a:active {
	background-color: #DD99DD;
}

a:hover {
	color          : #00FF00;
	text-decoration: overline;
}

a:active {
	color          : #EE9900;
	text-decoration: none;
}

b.tag a,
b.tag a:link,
b.tag a:visited,
b.tag a:hover,
b.tag a:active {
	color: inherit;
}

b.tag a:hover,
b.tag a:active {
	filter: invert(100%);
}

div.center {
	text-align: center;
	width     : 100%;
}

span.security_appealing {
	color      : #CC22CC;
	font-weight: 900;
}

span.important {
	color    : #EE2060;
	font-size: 120%;
}

code {
	color           : #441166;
	background-color: #E2E6FF;
	border-radius   : 0.3rem;
}

iframe[title="Sponsor Takym"] {
	display   : inline  !important;
	visibility: visible !important;
}

iframe[title="Sponsor Takym"][src="https://github.com/sponsors/Takym/button"] {
	height       :  32px;
	width        : 114px;
	border       :   0px;
	border-radius:   6px;
}

#posts_data > * > .hashtag {
	display   : none;
	visibility: hidden;
}
