/* Use the latest style from: https://github.com/pages-themes/minimal/blob/master/_sass/rouge-github.scss */
@import url(https://raw.githubusercontent.com/pages-themes/minimal/master/_sass/rouge-github.scss);

.highlight {
	font-family: "IPAGothic";
}

/* Keyword */
.highlight .k,
.highlight .kv {
	color: #0000FF;
	font-weight: normal;
}

/* Keyword for type */
.highlight .kt {
	color: #000080;
	font-weight: normal;
}

/* Class name */
.highlight .nc {
	color: #11EE55;
	font-weight: normal;
}

/* Member name */
.highlight .n,
.highlight .nf {
	color: #DD6666;
	font-weight: normal;
}

/* Comments */
.highlight .cm {
	color: #00AA00;
	font-style: normal;
}
