<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
{% if post.lang %}
	{% assign lang = post.lang %}
{% elsif page.lang %}
	{% assign lang = page.lang %}
{% else %}
	{% assign lang = site.lang %}
{% endif %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ lang | default: "ja-JP" }}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
		{% seo %}

		<!-- Highlight.js -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
		<script>hljs.highlightAll();</script>

		<!-- KaTeX -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css" integrity="sha384-zh0CIslj+VczCZtlzBcjt5ppRcsAmDnRem7ESsYwWwg3m/OaJ2l4x7YBZl9Kxxib" crossorigin="anonymous" />
		<script defer="defer" src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.js" integrity="sha384-Rma6DA2IPUwhNxmrB/7S3Tno0YY7sFu9WSYMCuulLhIqYSGZ2gKCJWIqhBWqMQfh" crossorigin="anonymous"></script>
		<script defer="defer" src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"></script>
		<script>
			document.addEventListener("DOMContentLoaded", function() {
				renderMathInElement(document.body, {
					"delimiters": [
						{ "left": "$$", "right": "$$", "display": true  },
						{ "left": "$",  "right": "$",  "display": false }
					]
				});
			});
		</script>

		<!-- IPAフォント -->
		<style>
			@font-face {
				font-family: "IPAゴシック";
				src: url({{ site.baseurl }}/assets/fonts/ipag.ttf) format('truetype');
			}
			@font-face {
				font-family: "IPA明朝";
				src: url({{ site.baseurl }}/assets/fonts/ipam.ttf) format('truetype');
			}
			@font-face {
				font-family: "IPA Pゴシック";
				src: url({{ site.baseurl }}/assets/fonts/ipagp.ttf) format('truetype');
			}
			@font-face {
				font-family: "IPA P明朝";
				src: url({{ site.baseurl }}/assets/fonts/ipamp.ttf) format('truetype');
			}
			@font-face {
				font-family: "IPAexゴシック";
				src: url({{ site.baseurl }}/assets/fonts/ipaexg.ttf) format('truetype');
			}
			@font-face {
				font-family: "IPAex明朝";
				src: url({{ site.baseurl }}/assets/fonts/ipaexm.ttf) format('truetype');
			}
		</style>

		<!-- Google Analytics -->
		<script async="async" src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', '{{ site.google_analytics }}');
		</script>

		<!-- 既定のスタイルシート -->
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/default.css" />
		{% if page.category == "debug" %}
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/debug.css" />
		{% else %}
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/release.css" />
		{% endif %}

		<!-- 既定のスクリプト -->
		<script src="{{ site.baseurl }}/assets/scripts/default.js"></script>
		<script src="{{ site.baseurl }}/assets/scripts/charname.js"></script>
	</head>
	<body>
		{% include fetchdata.html %}
		<header>
			<h1>
				<a href="{{ site.baseurl }}/index.html">
					<!-- ブラウザ画面上に余計な空白が入ってしまう為、改行してはならない。 -->
					<span>http</span><span class="security_appealing">s</span><span>://</span><img src="{{ site.baseurl }}/assets/images/TakymLogo.png" alt="Takym" title="Takym" /><span>.GITHUB.IO/</span>
					<!--<span>{{ site.title | default: site.github.repository_name }}</span>-->
				</a>
			</h1>
			<p>{{ site.description }}</p>
			<p>{{ page.description }}</p>
			<div class="center">
				{% if do_not_distribute %}
				<span class="important">
					<strong>無断転載禁止</strong>
					<wbr />
					<strong>DO NOT DISTRIBUTE</strong>
				</span>
				<br />
				{% endif %}
				<iframe src="https://github.com/sponsors/Takym/button" title="Sponsor Takym">
					<a href="https://github.com/sponsors/Takym">GitHub Sponsors</a>
				</iframe>
			</div>
		</header>
		<nav id="left_toggle"></nav>
		<nav id="left" class="hidden">
			<section>
				<br />
				<strong>
					<a href="{{ repo_url }}">GitHub リポジトリ</a>
				</strong>
				<hr />
			</section>
			{% include catlist.html %}
			<section>
				<h3>管理者</h3>
				<span><a href="{{ repo_owner_url }}">@{{ repo_owner_name }}</a></span>
				<hr />
			</section>
			<section>
				<h3>更新日</h3>
				<time datetime="{{ date | date_to_xmlschema }}">{{ date | date: "%Y/%m/%d" | default: "不明" }}</time>
				<hr />
			</section>
			<section>
				<h3>編集者</h3>
				{% if authors %}
				<ul>
					{% for author in authors %}
					<li><a href="https://github.com/{{ author }}">@{{ author }}</a></li>
					{% endfor %}
				</ul>
				{% else %}
				<span>不明</span>
				{% endif %}
				<span>
					※「編集者」は本サイト内の記事の編集者のみを表します。
					他サイトの記事へのリンクのみで構成されている場合でも同様です。
				</span>
				<hr />
			</section>
			{% if wiki != "wiki" %}
			<section>
				<h3>この記事のカテゴリ</h3>
				{% if category %}
				<b><a href="{{ site.baseurl }}/blog/{{ category }}/README.html">{{ category }}</a></b>
				<br />
				<span>（<a href="{{ site.baseurl }}/blog/{{ category }}/postlist.html">記事一覧</a>）</span>
				{% else %}
				<span>無し</span>
				{% endif %}
				<hr />
			</section>
			<section>
				<h3>この記事のタグ</h3>
				{% if tags %}
				<ul>
					{% for tag in tags %}
					<li><b class="tag"><a href="{{ site.baseurl }}/blog/{{ category }}/postlist.html#{{ tag }}">#{{ tag }}</a></b></li>
					{% endfor %}
				</ul>
				{% else %}
				<span>無し</span>
				{% endif %}
				<hr />
			</section>
			<section>
				<h3>操作</h3>
				<ul>
					<li><a href="{{ repo_url }}/new/{{ repo_branch }}/">新規作成</a></li>
					<li><a href="{{ repo_url }}/edit/{{ repo_branch }}/{{ repo_page_path }}">編集</a></li>
					<li><a href="{{ repo_url }}/issues/new/?title={{ "「" | append: page.title | append: "」（" | append: repo_page_path | append: "）について" | uri_escape }}&body={{ "<!-- ここに問題を入力してください -->" | uri_escape }}%0D%0A%0D%0A{{ "ページファイル：" | uri_escape }}%0D%0A{{ repo_url }}/blob/{{ repo_build_rev }}/{{ repo_page_path }}%23L1-L{{ file_lines | default: "5" }}%0D%0A">問題提起</a></li>
					<li>
						<span>カテゴリ・タグ関連</span>
						<ul>
							<li><a href="{{ site.baseurl }}/add_new_cat.html">カテゴリ追加方法</a></li>
							<li><b>タグ・キャラ名色付け</b>（<code>charname.html</code>）</li>
							<li><a href="{{ site.baseurl }}/blog/shutage/charname.html">確認ページ</a></li>
							<li><a href="{{ site.baseurl }}/blog/shutage/gen_charname.html">生成器</a></li>
						</ul>
					</li>
				</ul>
				<hr />
			</section>
			{% endif %}
		</nav>
		<nav id="right_toggle"></nav>
		<nav id="right" class="hidden">{% include sidebar.html %}</nav>
		<main>{{ content }}</main>
		<footer>
			<small><a href="https://github.com/sponsors/Takym">このサイトを支援する<wbr /> - GitHub Sponsors</a></small>
			<br />
			{% if do_not_distribute %}
			<small>無断転載禁止 /<wbr /> Unauthorized Reproduction Prohibited.</small>
			<span><wbr /></span>
			{% endif %}
			<small>{{ site.copyright }}</small>
			<span><wbr /></span>
			<small>Hosted on GitHub Pages,<wbr /> using Jekyll and Nitdefgai.</small>
		</footer>
	</body>
</html>
{% comment %}
<!-- Jekyll 参考:
https://github.com/jekyll/github-metadata/tree/main/docs
http://jekyllrb-ja.github.io/docs/variables/
https://qiita.com/mnishiguchi/items/fa1e8fd2e893ea801ce8
https://genjiapp.com/blog/2013/11/21/simple-tags-page-for-jekyll.html
-->
{% endcomment %}
